@import url(https://fonts.googleapis.com/css?family=Exo|Tinos);

h1, h2, h3, h4, h5, h6, li {
  font-family: 'Exo', sans-serif;
  color: #091933;
}

p {
  font-family: 'Tinos', serif;
  color: #091933;
}

.header-wrapper {
  margin-bottom: 50px;
  background: url(images/patrick-tomasso-71909.jpg);
  background-size: cover;
  height: 100vh;
}

#logo {
  margin-top: 2em;
}

#logo img {
  opacity: 0.8;
}

#header h1 {
  color: white;
  text-shadow: 0.5px 0.5px 1px #000000;
  font-size: 5em;
}
